[submodule "agent_system/environments/env_package/jarvis/android_env_injector"]
	path = agent_system/environments/env_package/jarvis/android_env_injector
	url = https://gitee.com/kelesCyl/inject_env.git
